:root {
    --as-webhtml-ui-font: 'Sevolt UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    --as-webhtml-ui-text-color: #eaeaea;
    --as-webhtml-ui-header-color: #262626;
    --as-webhtml-ui-body-color: #1e1e1e;
    --as-webhtml-ui-btn-reg: #262626;
    --as-webhtml-ui-btn-hover: #363636;
    --as-webhtml-ui-btn-focus: #bc5fd3;

}

.andorra-editor {
    --andorra-sans-font: 'Sevolt UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    --andorra-monospace-font: 'Consolium', "SF Mono", Andorra, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace !important;
    font-family: var(--andorra-sans-font) !important;
}

html, body {
    font-family: var(--as-webhtml-ui-font);
    background-color: var(--as-webhtml-ui-body-color);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#editor-container {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: row;
}

#editor {
    width: 100%;
    overflow: none;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    background-color: var(--as-webhtml-ui-header-color);
}

button {
    font-family: var(--andorra-sans-font);
    margin-right: 8px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--as-webhtml-ui-btn-reg);
    color: var(--as-webhtml-ui-text-color);
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: var(--as-webhtml-ui-btn-hover);
}

button:focus {
    background-color: var(--as-webhtml-ui-btn-focus);
}

#logo {
    margin-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 2px;
    left: 0;
    width: auto;
    height: 20px;
    z-index: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    #logo {
        position: relative;
        left: auto;
        top: auto;
        margin: 0 auto 16px auto;
        display: block;
        height: 30px;
        z-index: 0;
    }

    .button-container {
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 12px;
    }

    body {
        background-color: var(--as-webhtml-ui-body-color);
        overflow: auto;
    }

    #editor-container {
        flex-direction: column;
    }

    #editor {
        width: 100% !important;
        height: 100%;
        overflow: none !important;
    }
}
