:root {
    --ui-font: 'Sevolt UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    --btn-color: #343434;
    --btn-color-hover: #bc5fd3;
    --text-color: #ffffff;
    --header: #292929;
}

.andorra-editor {
    --andorra-sans-font: 'Sevolt UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    --andorra-monospace-font: 'Consolium', "SF Mono", Andorra, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace !important;
    
    font-family: var(--andorra-sans-font) !important;
}

html, body {
    font-family: var(--ui-font);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#editor-container {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: row;
}

#editor {
    width: 100%;
    overflow: none;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    background-color: var(--header);
}

button {
    font-family: var(--andorra-sans-font);
    margin-right: 8px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--btn-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
}

button:hover {
    color: var(--text-color);
    background-color: var(--btn-color-hover);
}

select {
    font-family: var(--andorra-sans-font);
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--btn-color);
    border: none;
    margin-right: 8px;
    padding: 2px 6px;
    border-radius: 6px;
    outline: none;
}

#logo {
    margin-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 2px;
    left: 0;
    width: auto;
    height: 20px;
    z-index: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    #logo {
        position: relative;
        left: auto;
        top: auto;
        margin: 0 auto 16px auto;
        display: block;
        height: 30px;
        z-index: 0;
    }

    .button-container {
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 12px;
    }

    body {
        background-color: var(--header);
        overflow: auto;
    }

    #editor-container {
        flex-direction: column;
    }

    #editor {
        width: 100% !important;
        height: 100%;
        overflow: none !important;
    }
}
