:root {
    /* --ui-font: 'Wledig UI Sans', 'Rubisco Color Emoji', system-ui; */
    --ui-font: 'Jupiter Sans Flex', sans-serif, system-ui;
    /* --ui-font-symbols: 'IntelliWeb Symbols'; */
    --ui-btn: #262626;
    --ui-btn-hover: #bc5fd3;
    --ui-text: #ffffff;
    --header: #1d1d1d;
    --gutter: #4d4d4d;
    --preview: #ffffff;
}

html, body {
    font-family: var(--ui-font);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.andorra-editor {
    --andorra-monospace-font: 'Laurentia Code', "SF Mono", Andorra, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace !important;
}

.andorra-inputbox>.ibwrapper>.input {
    font-family: var(--ui-font) !important;
}

#editor-container {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: row;
}

#editor {
    width: 100%;
    /* width: 50%; */
    overflow: none;
}

.gutter {
    background-color: var(--gutter);
    cursor: w-resize;
    width: 8px;
    transition: 0.6s background-color;
}

.gutter:hover {
    background-color: var(--ui-btn-hover);
    cursor: w-resize;
    width: 8px;
}

#preview {
    flex: 1;
    overflow: auto;
    background-color: var(--preview);
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    background-color: var(--header);
}

button {
    font-family: var(--ui-font);
    margin-right: 8px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--ui-btn);
    color: var(--ui-text);
    border: none;
    border-radius: 4px;
}

button:hover {
    color: var(--ui-text);
    background-color: var(--ui-btn-hover);
}

select {
    font-family: var(--ui-font);
    font-size: 14px;
    color: var(--ui-text);
    background-color: var(--ui-btn);
    border: none;
    margin-right: 8px;
    padding: 2px 6px;
    border-radius: 6px;
    outline: none;
}

#logo {
    margin-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 2px;
    left: 0;
    width: auto;
    height: 20px;
    z-index: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    #logo {
        position: relative;
        left: auto;
        top: auto;
        margin: 0 auto 16px auto;
        display: block;
        height: 30px;
        z-index: 0;
    }

    .button-container {
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 12px;
    }

    body {
        background-color: var(--header);
        overflow: auto;
    }

    #editor-container {
        flex-direction: column;
    }

    #editor {
        width: 100% !important;
        /* height: 50%; */
        height: 100%;
    }

    /* #preview {
        width: 100% !important;
        height: 50%;
        border: none;
    } */
}