/* Culsans Design System Fonts */

@font-face {
    font-family: 'Aurora Sans';
    src: url(./AuroraSans.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'Aurora Sans';
    src: url(./AuroraSans-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Editor Mono Pro';
    src: url(./EditorMonoPro.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'Editor Mono Pro';
    src: url(./EditorMonoPro-Italic.ttf);
    font-style: italic;
}
